body{
    margin: 0;
    padding: 0;
}

/*------------------header--------------------------------------------*/
.header{

}

/*-------------------main--------------------------------------------*/
.main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11ef00;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*------------------footer------------------------------------------*/
.footer{

}


