body {
    margin: 0;
    padding: 0;
}

/*------------------header--------------------------------------------*/
.header {
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43b02a;
}
.header p {
    color: white;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*-------------------main--------------------------------------------*/
.main {

}

/*------------------footer------------------------------------------*/
.footer {

}


